<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/Task2/STATIC/STYLES/style.css">
    <title>Flask App</title>


</head>

<body>

    {% extends 'base.html' %}

    {% block content %}
        <h1>{% block title %} Posts {% endblock %}</h1>
        {% for post in posts %}
            <div class='post'>
                <p>{{ post['created'] }}</p>
                <h2>{{ post['title'] }}</h2>
                <p>{{ post['content'] }}</p>
                <a href="{{ url_for('edit', id=post['id']) }}">Edit</a>
            </div>
        {% endfor %}
    {% endblock %}

   <!--   <div class="coverImage">
        <img src="/Task2/STATIC/IMAGES/Frame 19.png" alt="" width="100%" height="100%">
    </div>
    <div class="data">
        <center>
            <h3>Please Fill your Form</h3>
        </center>
    <br>
    <center>
        <form class="mainForm" action="/result" method="POST">

            <label class="text" for="Name">Name: </label><br>
            <input class="input" type="Text" name="name"><br>
            <label class="text" for="City">City: </label><br>
            <input class="input" type="Text" name="city">
            <br>
            <hr>
            <!-- <input type="Submit" name="name" class="file_submit"> -->
<!--            <a href="#"><button class="btn btn-success px-4">Submit</button></a>
            <br>
        </form>
    </div>
    </center>
    {% if nme  %}
    <div class="data">
        <center>
            <h1>
                <em> The Data </em>
            </h1>
        </center>
        <hr>
        <center>
        <h3>Hi!! My name is {{nme}}, how are you!!</h3>
        </center>

    </div>
    {% endif %}




    {% if shehr %}
    <div class="data">
        <center>
            <h1>
                <em> The Data </em>
            </h1>
            <hr>
        </center>
        <center>
        <h3>
            My city is {{shehr}} 
        </h3>
        </center>
    </div>
    {% endif %}
    {% if nme and shehr %}
    <div class="data">
        <center>
            <h1>
                <em> The Data </em>
            </h1>
        </center>
        <hr>
        <center>
        
        <h3>Hi!! My name is {{nme}}, how are you!!</h3>
        <h3>
            My city is {{shehr}} 
        </h3>

    </div>
    {% endif %}
 -->
</body>

</html>
