<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
</head>
<body>
    <form action="/result" method="POST">
<center>
{% if name %}
<h3 style="color: blue;">Hello {{name}}, how are you!!</h3>
{% endif%}
</center>

<label for = "Name">Your name: </label>
<input type="Text" name="name">
<input type="Submit" name="name" class = "file_submit">
    </form>
</body>
</html>
