<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Flask App</title>


</head>

<body>
    <div class="coverImage">
        <img src="/static/images/Frame 19.png" alt="" width="100%" height="100%">
    </div>
    <div class="data">
        <center>
            <h3>Please Fill your Form</h3>
        </center>
<br>
        <form class="mainForm" action="/result" method="POST">

            <label class="text" for="Name">Name: </label><br>
            <input class="input" type="Text" name="name" ><br><br>
            <label class="text" for="Age">Age: </label><br>
            <input class="input" type="Text" name="age"><br><br>
            <label class="text" for="City">City: </label><br>
            <input class="input" type="Text" name="city">
            <br>
            <hr>
            <div>
                <fieldset>
                    
                        <h2>Education</h2>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 ,col-md-6, col-sm-6">
                                <label for="Matric">Matriculation: </label><br>
                                <input class="input_education" type="Text" name="school"><br>
                                <label class="lbl-edu" for="College">College: </label><br>
                                <input class="input_education" type="Text" name="college"><br>
                                <label class="lbl-edu" for="University">University: </label><br>
                                <input class="input_education" type="Text" name="university">
                            </div>
                            <div class="col-lg-6 ,col-md-6, col-sm-6">
                                <label for="Matric">Session: </label><br>
                                <input class="input_education" type="Text" name="session_one"><br>
                                <label class="lbl-edu" for="College">Session: </label><br>
                                <input class="input_education" type="Text" name="session_two"><br>
                                <label class="lbl-edu" for="University">Session: </label><br>
                                <input class="input_education" type="Text" name="session_three">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <br>
            <hr>
            <!-- <input type="Submit" name="name" class="file_submit"> -->
            <a href="#"><button class="btn btn-success px-4">Submit</button></a>

            <br>

        </form>
    </div>
</body>

</html>