/* Style for form input and submit button */
/* #37b9f1 #f2f5f5 */
/* text: #565360 #908e9b #e1dfe9 */

body {
  font-family: sans-serif;
  text-align: center;
  background-color: #f2f2f2;
}

/* h1 {
  margin-top: 50px;
  font-size: 48px;
} */

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.result {
  color: #b5b2be;
  font-size: 18px;
}

input {
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  box-shadow: 0px 0px 5px #d9d9d9;
}



.input {
  width: 400px;
  height: 50px;
  border: 1px black solid;
  padding: 10px;
  margin: 5px 5px auto 10px;
  font-size: 18px;
  color: #383434;
  outline: none;
}

.input::placeholder {
  color: #383434;
  opacity: 1;
}
.file_submit:hover {
  background-color: #134155;
  color: #fff;
  font-size: 20px;
}

p {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #d9d9d9;
  cursor: pointer;
}
