<!-- #8739f9 -->

{% extends 'base.html' %} {% block content %}
<form class="search-section" action="" method="POST">
  <input
    class="input"
    type="Text"
    name="city"
    placeholder="Enter the city"
    autofocus
  />
 <!-- <input type="Submit" name="name" class="file_submit" />-->
  <button type="submit" class="file_submit">Check</button>
</form>

{% if temp and min_temp and max_temp and hum %}
<p class="result">
  The temperature is {{temp}}℃ and max temperature is {{max_temp}}℃ and min
  temperature is {{min_temp}}℃ and humidity is {{hum}}%.
</p>
{% endif %} {% endblock %}
