/* Style for form input and submit button */
/* #37b9f1 #f2f5f5 */
/* text: #565360 #908e9b #e1dfe9 */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(176deg, rgb(18, 24, 27) 50%, rgb(32, 39, 55) 100%)
    fixed;
  font-family: sans-serif;
  box-sizing: border-box;

}
.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.result {
  color: #b5b2be;
  font-size: 18px;
}
.input {
  width: 400px;
  height: 50px;
  border: 1px black solid;
  padding: 10px;
  margin: 5px 5px auto 10px;
  font-size: 18px;
  color: #383434;
  outline: none;
}

.input::placeholder {
  color: #383434;
  opacity: 1;
}
.file_submit {
  background-color: #37b9f1;
  height: 50px;
  color: #1b1b1d;
  margin: 5px 10px auto 10px;
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  transition: all 0.25s ease-in-out;
}
.file_submit:hover {
  background-color: #134155;
  color: #fff;
  font-size: 20px;
}

p {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}
